/*
 *Sergey@F5
*/
#asd{
    background:none;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0;
    background-color: transparent;
    margin-top:-15px;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #cccccc;
    content: "»";
}
.breadcrumb li a:hover{
    text-decoration: none;
}
.breadcrumb li a.main-pg{
    color:#129ba1;
}
.breadcrumb > .active a{
    color:#999999;
  }
.cart {
    border-radius: 5px;
    border: 1px solid #cfe0e1;
    overflow: hidden;
    background: white;
}
.cart thead{
    background: #e4f8f9;
}
.cart .table thead>tr>td{
    color:#129ba1;
    font-weight:bold;
}
.cart thead .item-count,
.cart thead .price,
.cart thead .amount {
    border-left: 1px solid #cddfe0;
    padding-left: 20px;
}

.cart .table tbody>tr>td{
    vertical-align: middle;
    padding-left: 20px;
}
.cart .table tbody>tr>td:last-child{
    padding-left: 8px;
}
.cart .old-price{
    text-decoration:line-through;
}
.cart tbody .amount{
    font-weight: bold;
}
.cart .count{
    padding-left: 10px;
}
.cart .count span{
    display: inline-block;
    margin:0 5px;
    height: 18px;
    width: 18px;
    opacity:0.4;
    vertical-align: middle;
}
.cart .count span:hover{
   opacity:1;
}
.cart .count .inc-count{
    background: url('../img/plus.png') center no-repeat;
}
.cart .count .dec-count{
    background: url('../img/minus.png') center no-repeat;
}
.cart .del-items{
    background: url('../img/del.png') center no-repeat;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    opacity: 0.4;
    margin-right: 0;
}
.cart .del-items:hover{
    opacity: 1;
}
.cart-actions{
    margin: 15px 20px;
    float: left;
}
.cart-footer{
    overflow: hidden;
    margin:0 10px 15px;
}
.cart-action a{
    color:#ff5854;
    text-decoration: underline;
    float: left;
}
.cart-total {
    float: right;
    clear: none;
}
.cart-total label{
    font-weight: normal;
}
.cart-total .inline{
    float: left;
    margin-right:5px;
}
.cart-total .total-amount{
    font-weight: bold;
}
.line0-decoration{
    clear: both;
    padding: 15px;
    background:url('../img/long-line.png') center repeat-x;
}
.dicsount-code{
    float: left;
    margin: 10px;
}
.table a{
    color: #129ba1;
    text-decoration: underline;
}
.discount-item.text{
    float:left;
    font-size: 22px;
    color: #129ba1;
    padding-top: 10px;
    padding-right: 5px;
}
.cart input[type="button"]{
  color: #fff;
  font-weight: bold;
  /*  -moz-box-shadow:inset 0px 0px 0px 1px #97ac0f;
    -webkit-box-shadow:inset 0px 0px 0px 1px #97ac0f;
    box-shadow:inset 0px 0px 0px 1px #97ac0f;
    */
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cad416), color-stop(1, #99ae0f) );
  background:-moz-linear-gradient( center top, #cad416 5%, #99ae0f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cad416', endColorstr='#99ae0f');
  background-color:#cad416;
  -webkit-border-radius:11px;
  -moz-border-radius:11px;
  border-radius:11px;
  height:38px;
  width:138px;

}
.cart-submit{
    clear: right;
    float: right;
    margin-top: 10px;
    border:5px solid #e5e5e5;
    border-radius: 15px;
}
.cart-submit input{
    border:1px solid #99ae0f;
}
.cart input:focus{
    outline:none !important;
}
.cart .discount-item.code-form{
   border:5px solid #e5e5e5;
   background: #e5e5e5;
   border-radius: 15px;
   height: 48px;
   float:left;
   clear: none;
}
.cart .discount-item.code-form input{
    float: left;
}
.cart .discount-item.code-form input.recalc{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56d7db), color-stop(1, #16a2a7) );
  background:-moz-linear-gradient( center top, #56d7db 5%, #16a2a7 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#56d7db', endColorstr='#16a2a7');
  background-color:#56d7db;
  border:1px solid #129ba1;
}
.cart .discount-item.code-form input.code{
    padding: 0px 10px 0;
    border:1px solid #56d7db;
    outline: 0;
    height: 38px;
    font-size: 24px;
    width: 210px;
    border-radius: 11px 5px 5px 11px;
    margin-right: 5px;
}
.cart .cancel{
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}
.cart .cancel a{
    color:#ff5854;
    text-decoration: underline;
}
/*
 *END Sergey@F5
*/
