
/*навигация */
@font-face {
    font-family: 'EtelkaTextItalics';
     src: url('../fonts/EtelkaTextItalic.otf');
     
}

@font-face {
    font-family: 'EtelkaTextBoldItalic';
     src: url('../fonts/EtelkaTextBoldItalic.otf');
     
}

@media screen and (max-width: 992px) {
    
}


body {
font-family: "Tahoma", "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:1;
    background: url(../img/body-bg.png) #e4f8f9 repeat-x;
}

a{
    color: #129ba1;
    text-decoration:underline;
}

.icon {
    margin-right:8px;
}
.zalivka {
    background: #129ba1;
    
}
.nav-tabs { 
border-bottom: none;
}

ul.nav-tabs li a {
    font-size:11px;
    color:#b8e1e3;
    border:none;
}
ul.nav-tabs li a:hover,
.headd ul li a:focus{
    background:none;
    color:#fff;}

  

.nav  .left-border a,
.nav  .left-border a:hover {
    border-left: 1px solid #b6e2e3;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    margin-top: 11px;
    padding-top: 0px;
    height: 12px;
    padding-right: 7px;
    padding-left: 7px;
}
.nav .right-border a {
    margin-top: 11px;
    padding-top: 0px;
    padding-right:7px;
}

/*.nav  .left-border span,
.nav  .left-right span {
    padding-left:5px;
    padding-right:5px;
}*/

.menu-author ul li a {
    color:#24ffff;
    text-decoration:underline;

}
.menu-author ul li a:hover,
.menu-author ul li a:focus {
    background:none;
}

.menu-author {
    padding-left: 14px;
}

.poisk{
    position: relative;
    z-index:90;
}
.blueshadow{
    -webkit-box-shadow: 0px 5px 30px rgba(6, 100, 105, 0.75);
    -moz-box-shadow:    0px 5px 30px rgba(6, 100, 105, 0.75);
    box-shadow:         0px 5px 30px rgba(6, 100, 105, 0.75);
}
.vipod{
    font-size:13px;
    display: none;
    position: absolute;
    top: 44px;
    border:1px solid #e5e5e5;
    border-radius: 3px;
    z-index:90;
    background: #fff;
    padding: 20px;
}

.vipod .col-md-4{
    font-size:11px;
}
.vipod > div >.row{
    border-bottom: 1px solid #e5e5e5;
    padding:7px 0px;
}


.poisk-head,.zakaz, .tel-head{
    margin-top: 20px;
    margin-bottom:20px;
}

.zakaz {
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 0px;
}
.poisk-head {
    background: url(../img/search.png)no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.poisk-head {
    font-size:12px;
    width:100%;
}

.poisk-footer {
    background: white url(../img/search.png)no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    width:73%;
    font-size:12px;
	height:25px;
	line-height:25px;
}

.poisk-footer::-webkit-input-placeholder{
	padding-left:7px;
	color:#9cb5be;
}

.poisk-footer::-moz-placeholder {
	padding-left:7px;
	color:#9cb5be;
}

.logotip {
    margin-bottom:20px;
    margin-top:6px;
}
.zakaz {
    width: 14%;
    text-align:right;
}
.zakaz a{
    color: #63ced3;
    text-decoration:none;
    font-size:11px;
}
.tel-head {
    width: 115%;
    text-align:right;
    font-size:22px;
}
.tel-head-2 {
    margin-left: -5px;
    width: 102%;
    text-align:right;
    font-size:20px;
}
.tel-2 {
    color:#444;
    font-family: EtelkaTextBoldItalic,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tel-1 {
    font-family: EtelkaTextItalics,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#bfd2d8;
}
    
/* Каталог*/

.katalog {
    font-size:11px;
    margin-left: 0px !important;
}

.wavy-line{
    width: 100%;
    display: table-cell;
	background:url(../img/wavy-line.png) center repeat-x;
}



.tov{
    font-size:24px;
    display: table-cell;
    white-space: nowrap;
    padding-right:16px;
}
.tov span {
    color:#97ac0f;
}






.minicard {
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #a6d9db;
    padding-bottom: 17px;
    padding-top: 8px;
}
.minicard:first-child {
    border-top: 0;
}
.minicard:last-child {
    border-bottom: 0;
}
.minicard a{
    font-size:11px;
}

.minicard .first{
    border-top: 0;
}

.minicard img {
    border: 2px solid #d8ebec;
    background: #fff;
    border-radius: 2px;
    float: left;
    width: 60px;
    height: auto;

}

.skidki-text{
    margin-left: 68px;
}
.skidki-price{
    display: block;
    padding-top: 5px
}
.skidki-price span.cost {
    background: #63ced3 url(../img/rublwhite.png) right center no-repeat;
    border-radius: 4px;
    color:#fff;
    padding: 2px 19px 1px 5px;
    text-decoration: none;
    margin-left: -4px;
    float:left;
}

.skidki-price{
    text-decoration: none;
}

.korz2{
    background: url(../img/korzina2.png) right bottom no-repeat;
    width: 17px;
    height: 14px;
    display:inline-block;
    margin-left:4px;
}

.pic-head {
    /* padding-left: 5px;*/

}

.pic-head ul{
    list-style: none;
    padding-left: 0px;
}

.pic-head-left {
  position: absolute;
  top: 108px;
}

.pic-head-right {
  position: absolute;
  right: 0px;
  top: 108px;
}



#carousel-example-generic .carousel-inner{
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    min-height: 244px;
}

#carousel-example-generic2{
    height: 244px;
    padding: 4px;
    border-radius: 3px;
    background: rgb(196,238,240); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(196,238,240,1) 1%, rgba(196,238,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(196,238,240,1)), color-stop(100%,rgba(196,238,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(196,238,240,1) 1%,rgba(196,238,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(196,238,240,1) 1%,rgba(196,238,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(196,238,240,1) 1%,rgba(196,238,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(196,238,240,1) 1%,rgba(196,238,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4eef0', endColorstr='#c4eef0',GradientType=0 ); /* IE6-9 */
}
#carousel-example-generic2 .carousel-inner2{
    height: 236px;
    position:relative;
    overflow: hidden;
}

.rightslidercontrols{
    position: absolute;
    width:100%;
    height:30px;
    bottom: 0px;
    padding: 4px 8px;
    background: #129ba1;
}
.slider-left,
.slider-right,
#slider-numbers
 {
    float:right;
    margin-top: 2px;
}
#slider-numbers ul{
    padding:0 5px;
}
#slider-numbers {
    padding:0 5px;
}

#slider-numbers li {
  float: left;
  padding:2px 3px;
}

#slider-numbers a{
  font-family: Tahoma;
  color: #63ced3;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
#slider-numbers a:hover{
    color:#fff;
}


.slider ul {
  list-style: none;
  padding-left: 0px;
}

.actions {
    color: white;
    font-size: 22px;
    font-family: 'EtelkaTextItalics';
}

.slider-box {
    position: relative;
}

.reklama img {
    width: 100%;
    height: auto;
}
.tov {
    font-family: 'EtelkaTextBoldItalic';
    display: table-cell;
    white-space: nowrap;

}


.tovari {
    
}

.tovarcol{

}

.contant {
    /*background:#e4f8f9;*/
    padding-bottom:60px;
}
.menu-footer{
   /* background:url(../img/menu-background.jpg)repeat-x; */
    
}
.menu-footer img {
    margin-left:-14px;
}

ul.menu-footer {
    min-height:45px;
    border-radius:4px;
    border:1px solid #1dc9cc;
}
.menu-footer li a {
    line-height:1;
}
.navigation {
/*    margin-bottom:15px;*/
}

.menuborder
{
    border-radius:6px;
    border:1px solid #129ba1;
}

.nav-2 .navigation .menu-footer{
    background: #129aa0 url(../img/menubg.png) top repeat-x; 

}

.nav-2 ul li {
    border-right:1px solid #0e8289;
    border-left:1px solid #14a5ac;
    border-radius: 0;
    min-width: 90px;
}

.nav-2 ul li.first{
    border-left:0;
    background:url(../img/menudots.png) left center no-repeat;
    padding-left: 20px
}
.nav-2 ul li.last{
    border-right:0;
}


.nav-2 ul li a{
    color:#fff;
    border-radius: 0;
    margin: 3px 0px;
    padding: 5px 7px;
}
.nav-2 ul{
    padding: 2px;
}



#catalog{
    position: relative;
    border:0;
    padding-right: 14px;
}

#catalog a{
    margin: 0px 0px;
    padding:0px;
}


/*Footer*/
.myfooter {
    background:#129ba1 url(../img/footerbg.png) top center repeat-x; 
    padding-bottom:35px;
}

.nav-tabs>li>a{
    text-decoration: none;
}
.nav-tabs>li>a:hover{
    border:0px;
    background-color: transparent;
    border-radius:0;
    text-decoration: underline;
}
.myfooter a{
    color:#fff;
}
.text-footer{
    color:#fff;
}
.marg-top {
margin-top:40px;
}

.tel-footer {
    margin-top:20px;
}   
.tel-footer .tel-2 {
    color:#fff;
}
.tel-footer  .tel-1{
color:#9adbde;
}


input[type=search] {
    border-radius: 5px;
    outline: none; 
    border: 1px solid #d3d3d3; 
    padding: 4px; 
    -webkit-appearance: none; 
    -webkit-border-radius:5px;
    padding-left: 20px;
}


.ok >img{
	margin-left:-10px;
}

.ok a {
    font-size:10px;
    color:#4eb4b9;
    text-decoration:underline;
	margin-left:10px;
}

.tovarcol {
    font-size:11px;
}

.price {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin:10px auto 6px auto;
  }
.price:after{
    content:"";
    display:inline-block;
    width:11px;
    height:13px;
    margin-left:5px;
    background:url(../img/rubl.png) no-repeat;
    background-size:100% 100%;

}
.skidki-price {
  font-family: 'PT Sans', serif;
  font-size: 11px;
  }



@media (min-width: 1200px){

    .float-rigth {
        float: right;
    }

    .tovari .col-lg-2 {
        width:20%;
    }
}
.tovari .tovarcol {
	border:solid 1px #cddfe0;
    overflow: hidden;
    height: 215px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    position:relative;
    margin-bottom: 10px;
}

.tovari .col-xs-6, 
.tovari .col-sm-4,
.tovari .col-md-3,
.tovari .col-lg-2{
    padding-left: 5px;
    padding-right: 5px;
}


.tovar2 {
    margin-left: 18px;
}

.mail {
    text-decoration:underline;
    font-size:11px;
	margin-left:15px;
}

/* Выезжающий блок в Хитах продаж и сезонных продажах*/


.animate-btn {
    position: absolute;
    bottom: -68px;
    width: 100%;
}

.animate-btn .ok-text{
    display: block;
}
.animate-btn-whitebg{
    padding:10px;
    background-color: white;
}
.animate-btn-gradient{
    width: 100%;    
    height:17px;
    display: block;
    background: url(../img/animatebg.png) bottom center no-repeat;
    background-size: contain;
    display: none;
}


/* Кнопка купить*/

.button {
    cursor: pointer;
}
.korzina-btn {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 6px;
    float: left;
    color: #fff;
    /*font-weight: 800;*/
    font-size: 11px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    /*text-transform: uppercase;*/
    border-right: 1px solid #99a311;
}
.price-btn {
    padding: 4px 12px;
    float: left;
    color: #fff;
    /*font-weight: 800;*/
    font-size: 11px;
    text-shadow: 1px 1px rgba(255,255,255,0.3);
    /*text-transform: uppercase;  */
}

/* colors */

.green {


}

.darkbg,.greenbg{
    margin:6px auto;
    display: inline-block;
    padding:4px;
    border-radius: 10px;
}
.darkbg{
    background: rgb(18,145,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(18,145,150,1) 1%, rgba(35,161,167,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(18,145,150,1)), color-stop(100%,rgba(35,161,167,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(18,145,150,1) 1%,rgba(35,161,167,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(18,145,150,1) 1%,rgba(35,161,167,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(18,145,150,1) 1%,rgba(35,161,167,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(18,145,150,1) 1%,rgba(35,161,167,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#129196', endColorstr='#23a1a7',GradientType=0 ); /* IE6-9 */    
}
.greenbg{
    background: rgb(229,229,229); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(229,229,229,1) 1%, rgba(248,248,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(229,229,229,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(229,229,229,1) 1%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(229,229,229,1) 1%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(229,229,229,1) 1%,rgba(248,248,248,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(229,229,229,1) 1%,rgba(248,248,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}
.green {
    border:1px solid #97ac0f;
    border-radius: 5px;
    border-bottom: 0px;
    background: #c9d617; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9d617 0%, #98ac0f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9d617), color-stop(100%,#98ac0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9d617 0%,#98ac0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9d617 0%,#98ac0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9d617 0%,#98ac0f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9d617 0%,#98ac0f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d617', endColorstr='#98ac0f',GradientType=0 ); /* IE6-9 */
}
.darkbg .green{
    color:#fff;
    font-size: 13px;
    padding: 6px 12px
}


.bottomshadow {
    background: url(../img/blockshadow.png) top center no-repeat;
    height: 16px;
    width: 100%;
    margin-top: -1px;
    background-size: contain;
}



/* mgk */

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 5px;
padding-left: 5px;
}
.row {
margin-right: -5px;
margin-left: -5px;
}

.content{
    padding: 10px 0px;
}

.container {
padding-right: 5px;
padding-left: 5px;
margin-right: auto;
margin-left: auto;
}



.modal-content{
    background: rgb(27,205,208); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(27,205,208,1) 0%, rgba(18,155,161,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,205,208,1)), color-stop(100%,rgba(18,155,161,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(27,205,208,1) 0%,rgba(18,155,161,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(27,205,208,1) 0%,rgba(18,155,161,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(27,205,208,1) 0%,rgba(18,155,161,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(27,205,208,1) 0%,rgba(18,155,161,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bcdd0', endColorstr='#129ba1',GradientType=0 ); /* IE6-9 */    

    color:#fff;

}
.modal-content a{
    color:#fff;
}
.modal-content .registertabs {
    font-family: EtelkaTextBoldItalic;
    padding-left: 0px;
}
.modal-content .registertabs li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.modal-content .registertabs li a{
    font-family: EtelkaTextBoldItalic;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px dotted #fff;
}

.modal-content .registertabs li.active a {
    border-bottom: 0px;
}

.modal-content .close{
    background: url(../img/close.png) no-repeat;
    width: 24px;
    height: 24px;
    opacity: 0.9;
}
.wavy-line-dark{
    width: 100%;
    height:4px;
    background:url(../img/darkline.png) center repeat-x;
    display: block;

    margin: 12px 0px ;

}



.modal-header{
    border-bottom: 0px;
}
.modal-content p{
    font-size: 11px;
}
.modal-content label{
    width: 100%;
}
.modal-content .darkbg{
    margin-top:24px;
}
.modal-content input[type=text]{
    width: 100%;
    height: 26px;
    border-radius: 3px;
    border:1px solid #689ea1;
    margin-bottom:12px;
}
#savemi{
    display: inline-block;
}
.modal{
    background:rgba(255,255,255,0.8);
}
.modal-dialog{
    padding-top:150px;
    width: 360px;
}
.savemi input,.savemi label{
    margin: 0px;
}
.savemi{
    margin-bottom: 30px;
}
.savemilabel{
    font-weight: normal;
}

.row .skidki{
    margin-top:3px;
}


.poisk-head::-webkit-input-placeholder {
   color: #9cb5be;
   font-size:11px;
   padding-left:7px;
}
 
.poisk-head:-moz-placeholder {
   color: #9cb5be;
   font-size:11px;
   padding-left:7px;
}