/*tovar*/
.itemtitle {
font-weight: bold;
font-size: 24px;
width:100%;
color:#444444;
line-height: 28px;
padding-bottom: 13px; 
}
.itemimg {
text-align: center;
background: url(../img/search.png) 0% 0% no-repeat;
display: block;
}
.itemcharac span {
font-weight: bold;
color:#444444;
}
.item, .advicecontent, .comments{
font-family: Tahoma, arial, helvetica, sans-serif;
font-size: 11px;
color:#888888;
line-height: 18px;
}
.itemcharac {
padding-bottom: 43px;
 background: url(../img/wavy-line.png) 0% 77% repeat-x;
}
.decripthead{
font-size: 14px;
font-weight: bold;
color:#444444;
}
.item .price{
font-size: 24px;
color:#444444;
font-family: Tahoma, arial, helvetica, sans-serif;
padding-top: 6px;
padding-bottom: 9px;
}
.item .price:after{
background: url(../img/rurbig.png) 0% 0% no-repeat;
height:18px;
width:15px;
}
.finp{
width:auto;
float:left;
}
.iteminp {
margin-right: 13px;
text-align: center;
margin-left: 4px;
margin-top: 5px;
border: 1px solid #96cacc;
border-radius: 4px;
}
.itemdecript {
color: #444;
font-size:11px;
}
.opt {
width: 123px;
display: inline-block;

}

.buynow {
font-size: 13px;
color: #97ac0f;
font-family: Tahoma, arial, helvetica, sans-serif;
text-decoration:none;
cursor:pointer;
border-bottom: 1px dotted #97ac0f;
}
.buynow:hover{
color: #97ac0f;
text-decoration:none;
border-bottom: 1px solid #97ac0f;
}
.itemhref{
color: #129ba1;
text-decoration: none;
font-size:11px;
font-family: Tahoma, arial, helvetica, sans-serif;
border-bottom: 1px dotted #129ba1;
}
.itemhref:hover{
border-bottom: 1px solid #2a6496;
text-decoration:none;
}
.lider:after {
content: "";
background: url(../img/lider.png) no-repeat;
width: 96px;
height: 18px;
display: inline-block;
margin-left: -2px;
}
.sidetitle, .fulldesch , .commentauthor{
font-size:18px;
font-family: Tahoma, arial, helvetica, sans-serif;
color:#444;
padding-bottom: 7px;
}
.sidetitle{
padding-bottom: 10px;
}
.all {
color: #a3a509;
font-family: Tahoma, arial, helvetica, sans-serif;
font-size:11px;
display: block;
width: 100%;
padding-left: 6px;
text-indent: 8px;
}
.all:after {
content: " ";
width: 100%;
height: 20px;
background: url(../img/wavy-line.png) center repeat-x;
display: block;
margin-bottom: 9px;
margin-top: 12px;
}
.all:hover{
color:#a3a509;
}
.otherforms:after {
background: url(../img/wavy-line.png) 0% 0% repeat-x;
content: " ";
display: block;
width: 100%;
height: 20px;
}
.fulldesc {
-webkit-column-count: 2;
/*-moz-column-count: 2;*/
column-count: 2;
font-family: Tahoma, arial, helvetica, sans-serif;
font-size:11px;
color:#444;
line-height:18px;
-moz-column-count: 2;
}
.fulldesctitle{
font-family: 'EtelkaTextBoldItalic';
color: #97ac0f;
font-size: 24px;
padding-bottom: 15px;
padding-top: 2px;
display: inline;
float: left;
width: 100%;
}
.fulldesctitle.relitems{
background: #e4f8f9;
padding-right: 15px;
width: auto;
padding-left: 10px;

}
.row.relatitems {
background: url(../img/wavy-line.png) 0% 40% repeat-x;
}
.fulldesctitle span{
color:#444444;
}
.instruction {
display: block;
font-size: 18px;
font-family: Tahoma, arial, helvetica, sans-serif;
padding-top: 8px;
color: #129ba1;
}
.instruction:before{
content: " ";
background: url(../img/download.png) 0% 0% no-repeat;
width: 16px;
height: 17px;
display: inline-block;
margin-right: 10px;
}
.comments{
padding-bottom:0px;
padding-left: 0px;
color:#444;
margin-left: -5px;
}
.comments li {
list-style: none;
}
.commentauthor {
padding-bottom: 6px;
}
.commentdate {
color: #888;
}
.countcomments{
font-family: 'EtelkaTextItalics';
color: #97ac0f;
font-size: 24px;
padding-bottom: 15px;
padding-top: 2px;
float: left;
padding-right: 15px;
}
.comments li.row:last-child::after {
display: none;
}
.comments .row:after {
content: " ";
background: url(../img/wavy-line.png) 0% 0% repeat-x;
height: 6px;
vertical-align: middle;
width: 100%;
}
.commenttext {
padding-bottom: 19px;
}
.comments .row{
padding-bottom: 17px;
}
.fulldesctitle.comment {
width: auto;
padding-right: 5px;
}


/*.relitemscontent .col-lg-2,*/ .relitemscontent .col-md-2 /*, .relateditems .col-md-3*/  {
width:20%;
}
@media (min-width: 768px) and (max-width: 979px) {.relateditems .col-md-3 {width:100%; padding-bottom: 10px;}}
@media (max-width: 767px) {.relateditems .col-md-3 {width:50%; padding-bottom: 10px; margin: 0 auto;} 
	.itemimg{overflow:hidden;} 

	}
@media (min-width: 1024px) {
		.container.product .row.tovari.content {
		height: 235px;
		overflow: hidden;
		}
		
}
@media (min-width: 992px) {.relateditems .col-md-3 {width:20%;}}

.fulldesctitle.relitems{
/*background: url(../img/brdrbtm.png) 0% 0% repeat-x;*/
/*height: 6px;
vertical-align: middle;*/

}
.relitemscontent .price , .relitemscontent a, .existcharact, .pretext{
font-family: Tahoma, arial, helvetica, sans-serif;
}
.relitemscontent {
background: #fff;
border-radius: 4px;
border: 1px solid #cddfe0;
text-align: center;
height: 215px;
padding-left: 5px;
padding-right: 5px;
}
.relitemscontent a{
font-size: 11px;
color:#129ba1;
}
.relitemscontent a:hover{
color: #2a6496;
}
.segment li {
width: 4px;
height: 13px;
background: #cddfe0;
display: inline-block;
margin-right: -1px;
}
ul.segment {
width: auto;
display: inline-block;
padding-right: 8px;
padding-left: 7px;
}
.segment li.active{
background:#97ac0f;
}
.existcharact {
width: auto;
display: inline-block;
font-size: 11px;
color:#444;
margin-right: 19px;
}
.leavecom {
color: #129ba1;
font-size: 13px;
display: inline-block;
width: auto;
border-bottom: 1px dotted #129ba1;
text-decoration: none;
height: 22px;
padding-top: 7px;
}
.leavecom:hover{
border-bottom: 1px solid #129ba1;
text-decoration: none;
color: #129ba1;
}
.pretext {
font-size:13px;
font-weight:bold;
color:#444;
}

.imgcont {
overflow: hidden;
padding: 8px;
}
.imgcont img {
margin-left: -8px;
}
.minicard.first {
border-top: none;
}
.minicard.last {
border-bottom:none;
}
.row.round-block.img-rounded.item {
padding-left: 9px;
padding-top: 9px;
}
.item {
padding-top: 16px;
}
.item .greenbg {
float: left;
margin-right: 20px;
}

/**/